@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'roboto';
  src: url('https://www.tum.de/typo3conf/ext/in2template/Resources/Public/Fonts/Roboto/roboto-v29-latin-regular.woff2');
}

body{
  overflow-x: hidden;
}